body{
    background-color: white;
}
.atas {
    background-color: #F5F7F8;
    border-top-left-radius: 30px;
    display: flex; 
    border: 1px;
    margin: 10px;
    margin-bottom: 0;
    
}
.atas input {
    margin-left: auto;
    height: 20px;
    width: 300px;
    margin-top: 25px;
    margin-right: 30px;
    border-radius: 15px;
}
.atas h1 {
    margin-top: 15px;
    margin-left: 20px;
    font-family: sans-serif;
}
#all{
    display: flex;
}

.isi{
    background-color: #088395;
    width: 13%;
    height: 600px;
    text-align: center;
    border-radius: 30px;
}
.isi h1{
    font-size: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.circle {
    width: 100px; 
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

.detail{
    display: table;
    width: 25%;
}

.box{
    border: 1px;
    width: 75%;
    background-color: #F5F7F8;
    border-top-left-radius: 30px;
    display: table;
    margin-left: 10px;
}
.btn{
    margin: 10px;
}

.scrool_detail{
    background-color: aliceblue;
    width: auto;
    height: 500px;
    overflow: auto;
    padding: 10px;
    margin: 0;
}
.option_detail{
    background-color: #088395;
    border-radius: 10px;
    width: 90%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.detail_tools{
    background-color: #088395;
    height: 40px;

}

.tools1{
    text-align: center;
}
.a{
    padding:8px ;
    border-radius: 100%;
    border-color: transparent;
    background-color: white;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}